<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drop Down</title>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <h1>LOGO</h1>
          <div class="burger">
            <div class="line one"></div>
            <div class="line two"></div>
            <div class="line three"></div>
          </div>
        </nav>
        <div class="drop-down-content">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Menu</li>
            <li>Contacts</li>
          </ul>
        </div>
      </header>
    </div>
  </body>
</html>
